:root {
  --cyan: #9ec1ff;
  --light-green: #c0e4c1;
  --green: #05c3b2;
  --red: red;
  --yellow: #f0df71;
  --violet: #e172f3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.node-set {
  display: flex;
  flex-wrap: wrap;
}
/* Nodes */
.node-prd,
.node-dev {
  border: solid 1px;
  border-radius: 7px;
  margin: 3px;
  padding: 2px;
}
.node-prd {
  background-color: var(--cyan);
}
.node-dev {
  background-color: var(--green);
}
.node-wrong {
  background-color: var(--red);
}

.node-prd.down,
.node-dev.down {
  background-color: var(--red);
}

.node-prd.unhealthy,
.node-dev.unhealthy {
  background-color: var(--yellow);
}

.node-title {
  font-weight: bold;
  padding: 4px;
  width: 180px;
}
.total-productive-users,
.total-dev-users {
  border: solid 1px;
  border-radius: 7px;
  margin: 3px;
  padding: 2px;
  width: 150px;
}
.total-productive-users {
  background-color: var(--cyan);
}
.total-dev-users {
  background-color: var(--green);
}
/* Servers */
.content,
.lambdas,
.lamb2,
.comms,
.bff,
.archipelago,
.server-node-users {
  border: solid 1px;
  border-radius: 7px;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}
.content {
  background-color: var(--light-green);
}
.lambdas {
  background-color: var(--light-green);
}
.lamb2 {
  background-color: var(--light-green);
}
.comms {
  background-color: var(--light-green);
}
.bff {
  background-color: var(--light-green);
}
.archipelago {
  background-color: var(--light-green);
}

.content.down,
.comms.down,
.lambdas.down,
.lamb2.down,
.bff.down,
.archipelago.down {
  background-color: var(--red);
}

.content.unhealthy,
.comms.unhealthy,
.lambdas.unhealthy,
.lamb2.unhealthy,
.bff.unhealthy,
.archipelago.unhealthy {
  background-color: var(--yellow);
}

.comms.unknown,
.lambdas.unknown,
.lamb2.unknown,
.bff.unknown,
.archipelago.unknown {
  display: none;
}

.server-node-users {
  background-color: var(--violet);
  cursor: auto;
  position: inherit;
  bottom: 0px;
}
