:root {
  --light-grey: #f3f2f5;
  --grey: #b5b0c0;
  --light-green: #dcf0dc;
  --red: #ff2d55;
  --yellow: #ffbc5b;
  --violet: #691fa9;
  --light-violet: #d367d8;
  --black: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.node-set {
  display: flex;
  flex-wrap: wrap;
}
/* Nodes */
.node-prd,
.node-dev {
  border: solid 1px;
  border-radius: 7px;
  margin: 3px;
  padding: 2px;
}
.node-prd {
  background-color: var(--grey);
}
.node-dev {
  background-color: var(--light-grey);
}
.node-wrong {
  background-color: var(--red);
}

.node-wrong .node-title {
  color: var(--black);
}

.node-title {
  font-weight: bold;
  padding: 4px;
  width: 180px;
  color: var(--violet);
}

.total-productive-users,
.total-dev-users {
  border: solid 1px;
  border-radius: 7px;
  margin: 3px;
  padding: 2px;
  width: 110px;
  background-color: var(--light-grey);
}

/* Servers */
.content,
.lambdas,
.comms,
.bff,
.archipelago,
.server-node-users {
  border: solid 1px;
  border-radius: 7px;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  background-color: var(--light-green);
}

.down {
  background-color: var(--red);
}

.unhealthy {
  background-color: var(--yellow);
}

.comms.unknown,
.lambdas.unknown,
.bff.unknown,
.archipelago.unknown {
  display: none;
}

.server-node-users {
  background-color: var(--cyan);
  border: none;
  cursor: auto;
  position: inherit;
  bottom: 0px;
}
